<h1>Public Notes Feed</h1>

{% for note in notes %}
    <div style="border: 1px solid #ccc; margin: 10px; padding:10px;">
        <strong>{{ note.owner.username }}</strong>
        <a href="{% url 'notes:detail' note.id %}">
            <h3>{{ note.title}}</h3>
        </a>
        <p>{{ note.content }}</p>
        <small>{{ note.created_at }}</small>
    </div>
{% empty %}
    <p>No public notes yet.</p>
{% endfor %}

<div style="margin-top:20px;">
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
</div>

<a href="{% url 'notes:list' %}">My Notes</a>